doctype html
html
    head
        title TestApp-Logged
        link(rel='stylesheet', href='/static/styles.css')
    body
      div.container
        h1.header Welcome to our TestApp!
          p.text Thank you for signing up!
